@import "./sidebar.scss";
@import "./navbar.scss";
@import "./searchbox.scss";
@import "./tracktable.scss";

body{
    margin:0;
    padding: 0;
    background-color: rgb(247, 245, 245);
}
.App{
    display: flex;
}
.sub_main{
    width: 100%;
    display: flex;
    flex-direction: column;
}